# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.pi_project/
*.env

# Distribution / packaging
build/
dist/
*.egg-info/

# VSCode
.vscode/

# PyCharm
.idea/

# Docker
*.log
*.pid
docker-compose.override.yml

# Test / local scripts 
test_pi.py
.pytest_cache/

